<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1 id="title">EJS</h1>
            <p>about page</p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    <script data-main="public/js/main" src="public/js/require.js"></script>
</body>
</html>
