<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>FWT * Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body class="blue-grey darken-4">
    <div class="valign-wrap">

		<div class="login-box noselect code">
			<img class="logo" src="/img/login.png"><br>
			Move along.<br>
			<br> Username: <input type="text" placeholder=" "></input><br>
			Password: <input type="password" placeholder=" "></input><br>
			<br>
			<input type="button" value="Login"></input><input type="button" value="Register"></input>
		</div>
	</div>
    <script src="/js/lib/fetch.js"></script>
    <script>



    </script>
</body>
</html>
