<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel="stylesheets" href="css/login.css">
</head>
<body>

    <div class="container blue-grey darken-4">

    </div>

    <script data-main="public/js/login" src="public/js/require.js"></script>
</body>
</html>
