<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Fluff World</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
