body {
    background: #1c1c1c;
    margin: 0;
}

code, .code {
    font-family: monospace;
    color: #0f0;
}

.valign-wrap {
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 150px;
    opacity: 1;
}

input:focus {
    outline: none;
}

input[type='text'], input[type='password'] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #0f0;
    color: #0f0;
    font-family: monospace;
    transition: all 0.5s;
}

input[type='text']:focus, input[type='password']:focus, input:not(:placeholder-shown) {
    background: transparent;
    /*border: 1px solid #0f0;*/
    color: #0f0;
    font-family: monospace;
    border-bottom-color: transparent;
    box-shadow: 0 1px 0 0 transparent;
}

input[type='button'] {
    background: transparent;
    border: 1px solid #0f0;
    color: #0f0;
    font-family: monospace;
    transition: all 0.25s;
}

input[type='button']:hover {
    background: transparent;
    color: #0f0;
    transform: translateX(-2px) translateY(-2px);
    box-shadow: #0f0 2px 2px 0px;
}

input[type='button']:active {
    background: rgba(0, 255, 0, 0.2);
    color: #0f0;
    transform: translateX(-2px) translateY(0px);
    box-shadow: #0f0 2px 2px 0px;
}

.login-box {
    display: block;
    /*border: 1px dashed #0f0;*/
    padding: 20px;
    text-align: center;
    /*background: rgba(0, 255, 0, 0.05)*/
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
